#home{
	width: 100vw;
	height: 600px;
	display: flex;
	justify-content: center;
	background: #EBF0F6;
	align-items: flex-start;
	padding: 50px;
	font-family: 'Archivo', sans-serif;
	padding-top: 80px;
}
#home_text{
	width: 60vw;
	height: 600px;
	font-size: 30px;
	font-weight: 600;
	padding-top: 150px;
	padding-left: 5vw;
}
#home_pic{
	padding-top: 150px;
	width: 40vw;
}
#home_pic img{
	width: 30vw;
}
#home_button{
	font-size: 20px;
	margin-top: 20px;
	padding: 10px;
	width: 128px;
	background: rgba(50, 88, 143, 0.8);
	background-image: linear-gradient(160deg, #6B7AA1,  #005691);
	color: white;
}

#about{
	padding-left: 7vw;
	height: 230px;
	display: flex;
	font-family: 'Archivo', sans-serif;
	padding-top: 70px;
}
#about_text{
	border-left: 10px solid #EBF0F6;
	padding: 30px;
	height: 240px;
	width: 78vw;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	opacity: 0.6;
}

#skills{
	width: 100vw;
	padding-top: 120px;
	font-family: 'Archivo', sans-serif;
}
#skills_title{
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 20px;
}
.skills_all{
	width: 100vw;
	padding-left: 5vw;
	padding-right: 5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.skills_each{
	display: flex;
	align-items: center;
	width:30vw;
	justify-content: center;
	margin-top: 20px;
}
.skill_title{
	width: 10vw;
	font-size: 18px;
	font-weight: 600;
	margin-right: 10px;
	text-align: right;
}
.pie {
  --w:110px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 15px;
}
.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}